<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h3>Search results for <%= term %></h3>
			<hr>
		</div>
	</div>
	
	<div class="row text-center wrap-grid-fix">
		<% places.forEach(function(place) { %>
			<div class="col-md-3 col-sm-6">
				<a href="/places/<%= place._id %>">
					<div class="thumbnail thumbnail-index">
						<img src="<%= place.image %>">
						<div class="caption">
							<h4><%= place.name %></h4>
						</div>
					</div>
				</a>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>